<!DOCTYPE html>
<html>

<head>
  <title>ObjectsVR</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="description" content="Objects in VR" />
  <style type="text/css">
    body {
      width: 100%;
      height: 100%;
      background-color: #000;
      color: #fff;
      margin: 0px;
      padding: 0;
      overflow: hidden;
    }

    #ui {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 1;
      font-family: sans-serif;
    }

    a#no-vr {
      display: block;
      color: white;
      margin-top: 6em;
    }
  </style>
</head>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/87/three.min.js"></script>
  <script src="/common/webvr-polyfill.min.js"></script>
  <script src="/common/WebVR.js"></script>
  <script src="/common/MTLLoader.js"></script>
  <script src="/common/OBJLoader.js"></script>
  <script src="script.js"></script>
</body>

</html>